<tr>
  <td><%= toy.toy_type_name %></td>
  <td><%= toy.acquired_on %></td>

  <td>
    <% if write_animals? %>
      <%=
        link_to(
          "Delete",
          animal_delete_toy_path(
            id: animal.id,
            toy_id: toy.id
          ),
          method: :delete,
          data: {
            remote: false,
            disable: true,
            disable_with: "Deleting...",
            confirm: "Are you sure?"
          },
          class: "btn btn-primary"
        )
      %>
    <% end %>
  </td>
</tr>
