[Unit]
PartOf=things-web.target

[Service]
User=ubuntu
WorkingDirectory=/workspace/things
Environment=PORT=%i
Environment=RAILS_ENV=production
ExecStart=/home/ubuntu/.rbenv/shims/bundle exec rails server
Restart=always
StandardInput=null
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=%n
KillMode=mixed
TimeoutStopSec=5
