[Unit]
Description=Things HTTP Server Port 5000 Service
PartOf=things.target

[Service]
User=ubuntu
WorkingDirectory=/workspace/things
Environment=PORT=5000
Environment=RAILS_ENV=production
ExecStart=/home/ubuntu/.rbenv/shims/bundle exec rails server
Restart=always
StandardInput=null
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=things-web.service
KillMode=mixed
TimeoutStopSec=5
