[Unit]
Description=Things DelayedJob Interactive queue
PartOf=things.target

[Service]
User=ubuntu
WorkingDirectory=/workspace/things
Environment=PORT=5300
Environment=RAILS_ENV=production
Environment=QUEUE=interactive
ExecStart=/home/ubuntu/.rbenv/shims/bundle exec rails jobs:work
Restart=always
StandardInput=null
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=tabletservice-interactive.service
KillMode=mixed
TimeoutStopSec=5
