[Unit]
Description=Things HTTP and DelayedJob meta target
Wants=things-web.service things-batch.service things-interactive.service things-immediate.service

[Install]
WantedBy=multi-user.target
