<p id="notice"><%= notice %></p>

<div class="jumbotron">
  <h3>Let's manage some things!</h3>
  <p class="lead">Animals, Vegetables, and Minerals need management</p>
  <p>Not sure about the other things though</p>
</div>

