<p id="notice"><%= notice %></p>

<div class="jumbotron text-center">
  <h3>Let's manage some things!</h3>
  <p class="lead">Animals, Vegetables, and Minerals need management</p>
  <p>Not sure about the other things though</p>

  <% if session[:userinfo] %>
    <p>Already logged in.  Feel free to manage some things!</p>
    <br/>
    <p>Or you may <%= link_to "logout", logout_path %></p>
  <% else %>
    <a class="btn btn-success btn-lg" href="/auth/auth0">Login</a>
  <% end %>
</div>
