<p id="notice"><%= notice %></p>

<div class="jumbotron text-center">
  <h3>Let's manage some things!</h3>
  <p class="lead">Animals, Vegetables, and Minerals need management</p>
  <p>Not sure about the other things though</p>

  <h2><img class="jumbo-thumbnail" src="https://cdn.auth0.com/styleguide/1.0.0/img/badge.svg"></h2>
  <h1>RoR Auth0 Sample</h1>
  <p>Step 1 - Login.</p>
  <a class="btn btn-success btn-lg" href="/auth/auth0">Login</a>
</div>

