<table class="table">
  <thead class="thead-light">
    <tr>
      <th>Toy Type</th>
      <th>Acquired On</th>
      <% if write_animals? %>
      <th>Actions</th>
      <% end %>
    </tr>
  </thead>

  <tbody id="toys">
    <% toys.each do | toy | %>
      <%= c("toy", toy: toy, animal: animal ) %>
    <% end %>
  </tbody>
</table>
